* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.wheels-header {
  border-left: 10px solid black;
  text-transform: uppercase;
  display: flex;
  height: 10vh;
  align-items: center;
}
.wheels-header h2 {
  margin-left: 1rem;
}
.wheels-description {
  width: 70%;
  padding: 2rem;
  height: 20vh;
  line-height: 2.5rem;
}
.multiple-item {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.multiple-item img {
  margin: 0 auto;
}

.slick-current img {
  transform: scale(1.2);
}
.slick-current {
  outline: 0p solid black;
}
.each-item div {
  margin: 2.5rem;
  text-align: center;
}
.carousel-wrap {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel-backdrop {
  position: absolute;
  z-index: -1;
  top: 40%;
  height: 50%;
  width: 100%;
  background-color: #e6d6c5;
}
.slick-prev {
  top: 40%;
}
.slick-next {
  top: 40%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

@media only screen and (min-width: 600px) {
  .slick-prev {
    top: 41.5%;
  }
  .slick-next {
    top: 41.5%;
  }
}
